<mat-toolbar class="top" fxLayout="row" fxLayoutAlign="space-between center">
  <h1 class="mat-headline">Simple Todo that took too much time to do</h1>
    <div class="navbar-nav" *ngIf="currentUser">
        <button mat-raised-button class="button-like nav-item nav-link" i18n="@@home" routerLink="/home">Hem</button>
        <button mat-raised-button class="button-neutral nav-item nav-link" i18n="@@about"  routerLink="/about">Om mig</button>
        <button mat-raised-button class="button-hate nav-item nav-link" i18n="@@logout" (click)="logout()">Logga ut</button>
        <button mat-raised-button class="button-neutral nav-item nav-link" i18n="@@changelang" (click)="changeLang()">Ändra språk</button>
    </div>
</mat-toolbar>
<main fxLayoutAlign="center center" class="middle">
  <router-outlet></router-outlet>
</main>
<mat-card-footer class="bottom">
  Log in system complete width JWT and auth guard connected to a db.
  <br>
  Fully integrated asynch I/O server with authentication routes
  <br>
  Integrated to MYSQL-8 DB.
</mat-card-footer>
