/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body {
  box-sizing: border-box;
 }
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.top{
  /* height: 10%; */
  z-index:1;
  display:block;
  overflow: hidden;
  margin-bottom: 3em;
}
.middle{
  z-index:1;
}
.bottom{
  /* height: 10%; */
  margin-top: 3em;
  display:block;
  max-width:100%;
  text-align: center;
  z-index:1;

}
